<div class="row">

  <form class="form-signin" ng-submit="signIn.signIn()">
    <h2 class="form-signin-heading">Einloggen für Kleingruppenanmeldung</h2>
    <p>Bitte loggen Sie sich mit Ihrer MUW-StudID (z.B. n0987654) und Ihrem Kennwort ein.</p>
    <label for="inputStudentId" class="sr-only">Matrikel-Nummer</label>
    <input  type="text"
            ng-model="signIn.studentId"
            id="inputStudentId"
            class="form-control"
            placeholder="Matrikel-Nummer"
            required
            autofocus>
    <label for="inputPassword" class="sr-only">Passwort</label>
    <input  type="password"
            ng-model="signIn.password"
            id="inputPassword"
            class="form-control"
            placeholder="Passwort"
            required>
    <p class="bg-danger" ng-show="signIn.error">{{signIn.error}}</p>
    <p>
      <button class="btn btn-lg btn-primary btn-block" type="submit""><i class="fa fa-fw fa-key"></i> Einloggen</button>
    </p>
  </form>


</div>
