<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h2>Kleingruppe anlegen</h2></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="inputGroupNumber">Gruppennummer:</label>
        <input type="text" id="inputGroupNumber" class="form-control" ng-model="admin.newGroup.number"/>
      </div>
      <div class="form-group">
        <label for="inputGroupName">Gruppenname:</label>
        <input type="text" id="inputGroupName" class="form-control" ng-model="admin.newGroup.name"/>
      </div>
      <div class="form-group">
        <label for="inputGroupCapacity">Kapazität:</label>
        <input type="text" id="inputGroupCapacity" class="form-control" ng-model="admin.newGroup.capacity"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-click="createGroup()">Anlegen</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h2>Liste der Kleingruppen</h2></div>
    <div class="panel-body">
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h2>Kleingruppe auswählen</h2></div>
    <div class="panel-body">
      <p>Falls Sie bereits in einer Gruppe angemeldet sind und versuchen sich in einer
      neuen Gruppe anzumelden, wird ihre ursprüngliche Gruppenzuordnung automatisch gelöscht.</p>

      <p>Sollte die ausgewählte Gruppe bereits voll sein wenn Ihre Anfrage verarbeitet wird
      bleiben Sie in Ihrer ursprünglichen Gruppe zugeordnet. Ist das Ummelden nicht erfolgreich
      verlieren Sie also nicht ihren bisherigen Kleingruppenplatz</p>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <!--<th>#</th>-->
          <th>Name</th>
          <th>Freie Plätze</th>
          <th>Anmelden</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="kleingruppe in kleingruppen">
          <!--<td>{{kleingruppe.number}}</td>-->
          <td>{{kleingruppe.name}}</td>
          <td>{{kleingruppe.remaining}}</td>
          <td><button class="btn btn-primary" ng-click="inscribe()">Anmelden</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
